@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Green Color Palette */
  --color-primary: #064E3B;
  /* Forest Green */
  --color-primary-light: #059669;
  --color-primary-dark: #022c22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #374151;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}